<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="健康 养生 草本 饮品  百合 莲子 龙眼肉 酸枣仁 甘草 茯苓">
    <meta name="description" content="压力大，节奏快，紧绷的神经常让人心神不宁，睡眠不佳。“安”饮采用疏肝静心的草本，助你安心养心，神安气顺。白天一杯，夜晚安睡。">

    <title>安—安心养神，一夜好眠。—健康养生饮品，每日新鲜熬制</title>

    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/product.css">

    <!–[if lt IE9]><script src="/resources/scripts/html5.js"></script><![endif]–>
</head>

<body>

    #parse("/include/header.html")

    <div class="wrapper container a">
        <img class="container-line" src="/resources/images/footer-line.gif">

        <div class="outline">
            <div class="price">${product.getIntPrice()}</div>
            <!--
            <a class="now-buy-link" href="/orderBook/fillorder?productId=5&count=1" title="立即购买"><img src="/resources/images/product/a-t.gif" alt="安"></a>
            -->
            <a class="now-buy-link" href="/cart/item/add?productId=5&count=1" title="立即购买"><img src="/resources/images/product/a-t.gif" alt="安"></a>
        </div>

        <img class="container-line" src="/resources/images/footer-line.gif">
        <img class="raw-material" src="/resources/images/product/a-l.gif" alt="原料">
        <img class="container-line" src="/resources/images/footer-line.gif">

        <div class="delivery">
            <div class="time">
                <strong>提前预定 免费外送</strong>
                <p>提前12小时预订 即可享受免外送费</p>
            </div>
            <div class="bundle">
                <strong>元气礼包 打包购买更实惠</strong>
                <p>当日购买4杯以及4杯以上免外送费</p>
            </div>
            <a class="now-buy-link" href="/cart/item/add?productId=5&count=1"><img src="/resources/images/product/a-w-b.gif" alt="立即购买"></a>
        </div>

        <img class="container-line" src="/resources/images/footer-line.gif">

        #parse("/include/product_link.html")

    </div>

    #parse("/include/footer.html")

</body>
</html>