.product-list-title {
    display: block;
    margin: 2em auto;
}


.product-list-page {
    width: 80%;
    margin: 0 auto 3em;
    font-size: 16px;
}

.product-list-page a {
    display: block;
    margin: 1em auto .5em;
    padding-top: 5px;
    width: 105px;
    height: 100px;
    background: url(../images/order/product-bg.gif) no-repeat;
}

.product-list-page a img {
    display: block;
    margin: 0 auto;
    width: 90px;
}

.product-list-page p {
    padding-bottom: 1.8em;
    text-align: center;
}