<div class="other">
    <img src="/resources/images/product/x-tj.gif">
    <div class="product-list">
        <a href="/product/m"><img src="/resources/images/product-m-165.gif" alt=""></a>
        <a href="/product/x"><img src="/resources/images/product-x-165.gif" alt=""></a>
        <a href="/product/q"><img src="/resources/images/product-q-165.gif" alt=""></a>
        <a href="/product/j"><img src="/resources/images/product-j-165.gif" alt=""></a>
        <a href="/product/a"><img src="/resources/images/product-a-165.gif" alt=""></a>
    </div>
</div>