<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="copyright" content="">
    <meta name="description" content="">

    <title>元气厨房_健康熬出来_兑换成功</title>

    <link rel="stylesheet" href="resources/styles/reset.css">
    <link rel="stylesheet" href="resources/styles/common.css">
    <link rel="stylesheet" href="resources/styles/index.css">
</head>


<body>

    #parse("/include/header.html")


    <div class="wrapper container">

       好吧，你成功了！<br/>
       兑换码：$propertyCode.code <br/>
       兑换时间：$propertyCode.usedDate <br/>
       兑换者：$propertyCode.passport.passport <br/>


    </div>



    #parse("/include/footer.html")

</body>
</html>