<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="copyright" content="">
    <meta name="description" content="">

    <title>关于我们—元气厨房—健康养生饮品，每日新鲜熬制</title>

    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/about.css">

    <!–[if lt IE9]><script src="/resources/scripts/html5.js"></script><![endif]–>
</head>

<body>
    #parse("/include/header.html")



    <div class="wrapper container">
        <img class="about-title" src="/resources/images/about-title.gif" alt="关于我们">

        <div class="about">
            <p>生活在都市里，有对自由和梦想的热爱，也有对拥挤和劳累的苦恼。巨大的工作压力、忙碌的生活节奏、日益严重的污染，皆为都市人群亚健康的元凶。</p>
            <p>活在当下是一种幸运，也是一种责任。我们需要的不只是感恩和努力，我们还需要爱护自己，学会用聪明的手法保护自己，化解这个时代给健康带来的副作用。</p>
            <p>元气厨房，致力于让人们以便捷的方式每天喝一杯真正天然的、新鲜熬制的草本植物饮品，帮助人们聪明地保持健康。</p>
            <p></p>

            <img src="/resources/images/traditional-essence.gif" alt="传统精粹">
            <p>针对现代都市人群突出的保健功能需求和亚健康问题，元气厨房基于中国传统的经典养生理论，在名老中医师的专业指导下，形成了安全有效、风味独特的草本配方。</p>
            <p>元气厨房回归传统汉方精华，利用草本的自然元素，注重天然调理和平衡，养生、养心、养颜，帮助您成就健康、自信的新自己。</p>
            <p></p>

            <img src="/resources/images/fresh-pure.gif" alt="新鲜纯净">
            <p>元气厨房崇尚从容熬制的健康，拒绝一切快速、人造的色、香、味。元气厨房根据订单安排进行数小时的精心熬制，鲜制鲜送，因此无需添加任何人工色素、调味剂、防腐剂，确保真正新鲜口感。</p>
            <p>元气厨房的原材料全部来自业内实力雄厚的龙头企业，安全保证，品质卓越。</p>
            <p>元气厨房采用世界一流的超滤净水系统，确保您喝到的每一滴都真正干干净净。</p>
            <p></p>

            <img src="/resources/images/convenient.gif" alt="便捷贴心">
            <p>元气厨房有多款产品满足您不同的功能诉求，每天为您悉心熬制并可送至指定地点，呵护您每天的健康和心情。</p>
            <p>您只需通过网站和其他平台进行预订，就可获得新鲜出炉的草本饮品。</p>
            <p></p>
        </div>
    </div>



    #parse("/include/footer.html")
</body>
</html>