<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="copyright" content="">
    <meta name="description" content="">

    <title>关注我们—元气厨房—健康养生饮品，每日新鲜熬制</title>

    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/attention.css">.

    <!–[if lt IE9]><script src="/resources/scripts/html5.js"></script><![endif]–>
</head>

<body>
    #parse("/include/header.html")
    <center>
        <div class="wrapper container">
            <img class="attention-title" src="/resources/images/follow-us-title.gif" alt="关注我们">

            <div class="attention">
                <img src="/resources/images/f-microblog.gif" alt="微博关住">
                <p>
                    <img src="/resources/images/microblog.gif" alt="微博关住">
                    <a class="microblog" target="_blank" href="http://www.weibo.com/yuanqichufang">www.weibo.com/yuanqichufang</a>
                </p>
                <!--<div class="a-m-b clearfix">-->
                <!--<a class="m-sina fl" target="_blank" href="javascript:;"><img src="resources/images/sina-microblog.gif"></a>-->
                <!--<a class="m-qq fr" target="_blank" href="javascript:;"><img src="resources/images/qq-microblog.gif"></a>-->
                <!--</div>-->
                <img src="/resources/images/f-wechat.gif" alt="微信关住">
                <p>
                    <img src="/resources/images/weixin.gif" alt="微信关住">
                    <strong>yuanqi99</strong>
                </p>
                <!--<a class="m-wx" target="_blank" href="javascript:;"><img src="resources/images/wechat.gif"></a>-->


                <img src="/resources/images/f-email.gif" alt="客服邮件">
                <p>yqcf@yuanqichufang.com</p>

                <img src="/resources/images/f-email.gif" alt="客服电话">
                <p><strong style="font-size: 20px;">1881-7722-608</strong></p>

                <img src="/resources/images/f-address.gif" alt="地址">
                <p>上海市 浦东新区 浦东南路1138号上海湾253号商铺</p>
            </div>
        </div>

    </center>
    #parse("/include/footer.html")
</body>
</html>