<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="健康  养生 草本 饮品">
    <meta name="description" content="元气厨房秉承草本养生理念，致力于提供健康的养生饮品。美，醒，强，解，安每款都带给你不一样的健康体验。">

    <title>元气厨房—健康养生饮品，每日新鲜熬制</title>

    <link rel="stylesheet" href="resources/styles/reset.css">
    <link rel="stylesheet" href="resources/styles/common.css">
    <link rel="stylesheet" href="resources/styles/index.css">
</head>


<body>

    #parse("/include/header.html")


    <div class="wrapper container">
        <div class="banner">
            <img src="resources/images/banner.jpg">
            <!--
            <a class="activity" href="#"><img src="resources/images/free-trial-drink.png" alt=""></a>
            -->
        </div>

        <div class="product-list">
            <a href="/product/m"><img src="resources/images/product-m-165.gif" alt=""></a>
            <a href="/product/x"><img src="resources/images/product-x-165.gif" alt=""></a>
            <a href="/product/q"><img src="resources/images/product-q-165.gif" alt=""></a>
            <a href="/product/j"><img src="resources/images/product-j-165.gif" alt=""></a>
            <a href="/product/a"><img src="resources/images/product-a-165.gif" alt=""></a>
        </div>
    </div>



    #parse("/include/footer.html")

</body>
</html>